@tailwind base;
@tailwind components;
@tailwind utilities;
.anime {
  transition: all 1000ms;
  font-size: 30px;
}
body {
  overflow-x: hidden;
  background: #2c2c2c;
  color: white;
}
.photo {
  transition: all 1s;
}
